<!DOCTYPE html>
<html>

<head>
  <title>Courtney's Yoga Studio</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link rel="stylesheet" href="stylesheets/style.css" /> 
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">&nbsp&nbspCourtney's Yoga Studio</a>
        <ul class="right">
          <li><a href="/about"><i class="material-icons left">trending_flat</i>ABOUT</a></li>
          <li><a href="/book"><i class="material-icons left">trending_flat</i>BOOK</a></li>
          <li><a href="/contact"><i class="material-icons left">trending_flat</i>CONTACT</a></li>
          <li>
            <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out&nbsp&nbsp&nbsp</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google&nbsp&nbsp&nbsp</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>