<%- include('./partials/header.ejs') -%>
<p style="font-size: 0.9rem; font-style: italic">
  <img
    class="bigMainImg"
    src="https://live.staticflickr.com/8152/29662641301_deb598cd5a_b.jpg"
    alt="yoga pose"
  />
  <!--<div style="margin-top: 0px">
    <a 
        href="https://www.flickr.com/photos/75221149@N00/29662641301"
        >"yoga pose"</a
    ><span>
        by <a href="https://www.flickr.com/photos/75221149@N00">sashameel</a></span
    >
    is licensed under
    <a
        href="https://creativecommons.org/licenses/cc0/1.0/?ref=ccsearch&atype=html"
        style="margin-right: 5px"
        >CC0 1.0</a>
    </div>-->
</p>

<blockquote>
    <span>“</span>My transformative yoga classes foster inner strength and radical 
    self-love so you can face day-to-day life with unshakable confidence. <span>”</span>
</blockquote>

<hr>

<img
    class="bigMainImg"
    src="https://i.imgur.com/k9fn1b6.png"
  />

<button>Learn More!</button>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%- include('./partials/footer.ejs') -%>
