<%- include('../partials/header.ejs') -%>

<h3>&nbsp&nbsp&nbsp&nbspEdit Testimonial</h3>

<div class="newForm">
    <form action="/about/:id" method="PUT">
      <table>
        <tr class="tableAddBody">
          <th>
              <label>Title:</label>
                <input type="text" name="commentTitle" autocomplete="off">
                
              <label>Comment:</label>
                <input type="text" name="comments" autocomplete="off">
          </th>
        </tr>
      </table>
      <div class="container">
        <div class="center">
        <button type="submit" style="margin:10px; width:60px; text-justify: center;" class="addButton" id="submit">Save</button>
        </div>
      </div>
    </form>
</div>

<%- include('../partials/footer.ejs') -%>